{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'style1.css' %}">
</head>

<body>
    <nav class="flex py-6 px-10 absolute w-full z-50">
        <div class="w-10/12">
            <a href="/"><img src="{% static 'netflix.png' %}" alt="logo" class="w-36 md:1/12"></a>
        </div>
    </nav>

    <div class="min-h-screen flex justify-center items-center bg-no-repeat bg-cover"
        style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('{% static 'bg.jpg' %}')">
        <div class="flex flex-col items-center text-gray-100 py-20 w-96 mx-auto h-screen">
            <form method="GET" class="bg-black bg-opacity-70 p-16 w-full rounded-md">
                {% csrf_token %}
                <h1 class="text-4xl font-semibold pb-8">
                    Sign In
                </h1>
                {% if form.errors %}
                <div class="text-center my-4 text-red-600">
                    <p class="text-red-600">
                        {{form.non_field_errors}}
                    </p>
                </div>
                {% endif %}
                <div>
                    <input class="p-2 bg-zinc-800 rounded-sm text-white outline-none block w-full" type="email"
                        name="login" id="id_login" placeholder="Email">
                </div>
                <div class='mt-3'>
                    <input class="p-2 bg-zinc-800 rounded-sm text-white outline-none block w-full" type="password"
                        name="password" id="id_password" placeholder="Password">
                </div>

                <div class="flex justify-center items-center mt-4">
                    <button class="py-2 px-4 bg-red-600 w-full text-gray-100 font-medium text-lg rounded-md"
                        type='submit'>
                        Sign In
                    </button>
                </div>
                <div class="flex flex-row justify-between mt-2 text-zinc-500">
                    <div class="">
                        <input type="checkbox" name="" id="id_remember_me">Remember me
                    </div>
                    <div class="hover:underline">
                        <a href="#">Need help?</a>
                    </div>
                </div>

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <div class="mt-4">
                    New to Netflix? <a class="font-semibold hover:underline" href="{% url 'core:signup' %}">Sign up
                        now</a>.
                </div>
            </form>
        </div>
    </div>
    <footer class="px-5 py-5 bg-black text-white">
        <ul class="flex justify-between items-center">
            <li>&copy; 2023</li>
            <li>Made with Django and Tailwind</li>
            <li>By Om Tiwari</li>
        </ul>
    </footer>
</body>

</html>